<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/styleReset.css}">
<!--Import bootstrap.css-->
<link rel="stylesheet" th:href="@{/static/css/bootstrap-theme.css}">
<link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/styleTree.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/style.css}">
	
</head>
<body>
	<div class="container-fluid">
		<header >
			<div class="row">
				<div th:replace="../../static/templates/header :: header"></div>
			</div>
		</header>
		
		<main>
			<div class="row">
			
				<div class="col-md-3" id="painel-tags">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<div class="panel-title">Categorias de Tags</div>
						</div>
						<div class="panel-body">
							<div id="jstree"></div>						
						</div>
					</div>
				</div>
		    	<div class="col-md-9 table-responsive" id="tabela-tags">
		    		<div class="row">
		    			<div class="col-md-12 ">
		    				<button type="button" class="btn btn-default  pull-right" onclick="atualizaTags()"><i class="glyphicon glyphicon-refresh"></i> Atualizar Tags</button>
		    			</div>
		    		</div>
		    		<div class="row">
		    			<div class="col-md-12">
			    			<h4 id="progress-bar-tags-titulo" style="display:none">Sincronizando Tags Com Repositório</h4>
			    			<div class="progress" id="progress-bar-tags" style="display:none">
			    				<div class="progress-bar progress-bar-striped active" style="width:100%"></div>
			    			</div>
		    			</div>
		    		</div>
		    							
		    		<div class="row">
		    			<div class="col-md-12">
				    		<table class="table table-striped table-bordered">
				    			<thead>
				    				<tr>
				    					<th>Nome da Tag</th>
				    					<th>Descrição</th>
				    					<th>Arquivos</th>
				    					<th>categorias</th>
				    					<th>Autor</th>
				    					<th>Data</th>		    					
				    				</tr>
				    			</thead>
				    			<tbody class="corpo-tags">
		
				    			</tbody>
				    		</table>
				    	</div>
			    	</div>
		    	</div>
	        </div>
		</main>
		
		<footer>
		
		</footer>
	</div>
	
	<p ></p>
	<div class="teste"></div>
	<input type="hidden" name="modelAttribute" id="modelAttribute" th:value="${tags}">


	<script type="text/javascript" th:src="@{/static/js/libs/jquery-3.1.1.js}"></script>
	<script th:src="@{/static/js/libs/bootstrap.js}"></script>
	<script th:src="@{/static/js/libs/jstree.js}"></script>	
	<script type="text/javascript" th:src="@{/static/js/libs/lib.js}"></script>

</body>
</html>
